extends ../partials/default
block PageContent
  .container-fluid
    .row-fluid
      .area-top.clearfix
        .pull-left.header
          h3.title
            i.icon-dashboard
            | 跟帖管理
          h5
            | 查看跟帖信息
        ul.inline.pull-right.sparkline-box
          li
            a.btn.btn-large.btn-green(href= webRoot_wehere +'/message/bulletinList', title='返回',style='color:white') 返回

  .container-fluid.padded
    !=messages()
    .row-fluid
      #breadcrumbs
        .breadcrumb-button.blue
          span.breadcrumb-label
            i.icon-home
            | 首页
          span.breadcrumb-arrow
            span
        .breadcrumb-button
          span.breadcrumb-label
            i.icon-dashboard
            |  跟帖列表
          span.breadcrumb-arrow
            span
  #productListDiv.container-fluid.padded
    .row-fluid
      .span12
        .box
          .box-header
            span.title 跟帖列表
          .box-content
            table.dTable.responsive
              thead
                tr
                  th #
                  th
                    div 回复内容
                  th
                    div 回复人
                  th
                    div 操作
              tbody
                each row, i in followBulletins
                  tr
                    td(width="15%",align="center")
                      = i+1
                    td(width="50%")
                      = row.content
                    td(width="20%",align="center")
                      = row.user?(row.user.userName?row.user.userName:'----'):'----'
                    td(width="15%",align="center")
                      .btn-toolbar
                        .btn-group
                          a.btn.btn-default.destroy(title="删除", href= webRoot_wehere +'/message/followBulletinDelete?bulletinId='+bulletinId+'&followBulletinId='+row._id)
                            i.icon-trash


block scripts
  script
    $('#productListDiv .destroy').on('click', function (e) {
      e.preventDefault();
      if (confirm('确定要删除?')) {
        window.location.href = this.href;
      }
    });
